[submodule "s2"]
	path = s2
	url = https://github.com/naissa12/s2.git
[submodule "s3"]
	path = s3
	url = https://github.com/naissa12/s3.git
[submodule "s5"]
	path = s5
	url = https://github.com/naissa12/s5.git
[submodule "s4"]
	path = s4
	url = https://github.com/naissa12/s4.git
